<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gc.nfc">

    <uses-sdk android:minSdkVersion="21"/>
    <!-- Normal Permissions 不需要运行时注册 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />




    <!-- 要求当前设备必须要有NFC芯片 -->
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="23533620dd15c0f3f59b3231fd6f7303"/>
        <service android:name="com.amap.api.location.APSService">
        </service>

        <service android:name="com.dk.bleNfc.BleNfcDeviceService" />
        <!-- 定位需要的服务 -->
        <service android:name=".utils.AmapLocationService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".utils.RomoteService"
            android:process=":romoteservice"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <activity android:name="com.amap.api.navi.AmapRouteActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AutoLoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="自动登录"/>
        <activity android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="首页"/>
        <activity android:name=".ui.MainlyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:label="首页"/>
        <activity android:name=".ui.MineActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="我的"/>
        <activity android:name=".ui.ValidOrdersActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="待抢订单"/>
        <activity android:name=".ui.StockManagerActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="库存管理"/>
        <activity android:name=".ui.CustomScanActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="扫码"/>
        <activity android:name=".ui.MyOrdersActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="我的订单"/>
        <activity android:name=".ui.HistoryOrdersActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="历史订单"/>
        <activity android:name=".ui.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="订单详情"/>
        <activity android:name=".ui.BottleExchangeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="钢瓶交接"/>
        <activity android:name=".ui.OrderDealActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="订单处理"/>

        <activity android:name=".ui.MybottlesActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="我的气瓶"/>
        <activity android:name=".ui.TrayOrderDealActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="托盘订单支付"/>
        <activity android:name=".ui.DiaoBoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="调拨员操作页面"/>

        <!-- 1像素的activity用来给进程保活 -->
        <activity
            android:name=".ui.OnePiexlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OnePixelActivity" />

        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="系统版本"/>



        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/str_entry"/>
        <activity android:name=".ui.RunAppActivity"
            android:launchMode="singleTop"
            android:label="@string/str_run_app"/>
        <activity android:name=".ui.RunUrlActivity"
            android:launchMode="singleTop"
            android:label="@string/str_run_url"/>
        <activity android:name=".ui.ReadTextActivity"
            android:launchMode="singleTop"
            android:label="@string/str_read_text"/>
        <activity android:name=".ui.WriteTextActivity"
            android:launchMode="singleTop"
            android:label="@string/str_write_text"/>
        <activity android:name=".ui.ReadUriActivity"
            android:launchMode="singleTop"
            android:label="@string/str_read_uri"/>
        <activity android:name=".ui.WriteUriActivity"
            android:launchMode="singleTop"
            android:label="@string/str_write_uri"/>
        <activity android:name=".ui.ReadMUActivity"
            android:launchMode="singleTop"
            android:label="@string/str_read_mu"/>
        <activity android:name=".ui.WriteMUActivity"
            android:launchMode="singleTop"
            android:label="@string/str_write_mu"/>

        <receiver android:name=".receiver.LocationReceiver">
            <intent-filter>
                <action android:name="LOCATION_CLOCK" />
            </intent-filter>
        </receiver>
    </application>


</manifest>